<nav class="navbar navbar-default" *ngIf="!gameStarted">
    <div class="col-12">
        <p class="green-text">Count Your Snooker Game</p>
    </div>
</nav>
<nav class="navbar navbar-default" *ngIf="gameStarted">
    <div class="col-4">
        <p class="green-text">{{game.name}}</p>
    </div>
    <div class="col-4">
        <p class="green-text">Frame {{game.getFrameNumber()}}</p>
    </div>
    <div class="col-4">
        <p class="green-text">Rozbija {{game.getFrame().playerToBreak}}</p>
    </div>
</nav>
