.row {
    align-items: center;
}
.name-input {
    background-color: #D9D9D920; 
    border-radius: 10px;
    border: #00250F 1px solid;
    max-width: 420px;
    width: 90%;
    padding-left: 8px;
    margin-bottom: 15px;
}