<br/>
<div class="row center" *ngIf="size>=15">
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
</div>
<div class="row center" *ngIf="size>=10">
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
</div>
<div class="row center" *ngIf="size>=6">
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
</div>
<div class="row center" *ngIf="size>=3">
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
</div>
<div class="row center" *ngIf="size>=1">
    <div class="ball" [ngClass]="{goldShadow: selected}"></div>
</div>