<div class="view-card">
    <app-red-ball [numberOfReds]="numberOfRed" (click)="addRed()"></app-red-ball>
    <app-color-ball [fb]="isFreeBall && nextColor<2" [color]="'#D6CE14'" [value]="2" [disabled]="isDisabled(2)" (click)="addValue(2)"></app-color-ball>
    <app-color-ball [fb]="isFreeBall && nextColor<3" [color]="'#04C10C'" [value]="3" [disabled]="isDisabled(3)" (click)="addValue(3)"></app-color-ball>
    <app-color-ball [fb]="isFreeBall && nextColor<4" [color]="'#4F3030'" [value]="4" [disabled]="isDisabled(4)" (click)="addValue(4)"></app-color-ball>
    <app-color-ball [fb]="isFreeBall && nextColor<5" [color]="'#2336E2'" [value]="5" [disabled]="isDisabled(5)" (click)="addValue(5)"></app-color-ball>
    <app-color-ball [fb]="isFreeBall && nextColor<6" [color]="'#E831EC'" [value]="6" [disabled]="isDisabled(6)" (click)="addValue(6)"></app-color-ball>
    <app-color-ball [fb]="isFreeBall && nextColor<7" [color]="'#000000'" [value]="7" [disabled]="isDisabled(7)" (click)="addValue(7)"></app-color-ball>
    <br/>
    <br/>
    <br/>
    <button class="custom-button" (click)="missBtn()">Pudło</button>
    <button class="custom-button" (click)="safeBtn()">Odstawna</button>
    <button class="custom-button"(click)="foulBtn()">Faul</button>
    <app-foul *ngIf="isFoul" [redLeft]="numberOfRed" (closeTab)="closeFaul()" (addFoul)="addFoul($event)"></app-foul>
    <i class="bi bi-arrow-counterclockwise" (click)="undoBtn()"></i>
</div>
