<div class="view-card">
    <app-red-ball [numberOfReds]="numberOfRed" (click)="addRed()"></app-red-ball>
    <app-color-ball [color]="'#D6CE14'" [value]="2" [disabled]="!colorBall" (click)="addValue(2)"></app-color-ball>
    <app-color-ball [color]="'#04C10C'" [value]="3" [disabled]="!colorBall" (click)="addValue(3)"></app-color-ball>
    <app-color-ball [color]="'#4F3030'" [value]="4" [disabled]="!colorBall" (click)="addValue(4)"></app-color-ball>
    <app-color-ball [color]="'#2336E2'" [value]="5" [disabled]="!colorBall" (click)="addValue(5)"></app-color-ball>
    <app-color-ball [color]="'#E831EC'" [value]="6" [disabled]="!colorBall" (click)="addValue(6)"></app-color-ball>
    <app-color-ball [color]="'#000000'" [value]="7" [disabled]="!colorBall" (click)="addValue(7)"></app-color-ball>
    <br/>
    <br/>
    <br/>
    <button class="custom-button" (click)="missBtn()">Pudło</button>
    <button class="custom-button" (click)="safeBtn()">Odstawna</button>
    <button class="custom-button"(click)="foulBtn()">Faul</button>
    <app-foul *ngIf="isFoul" [redLeft]="numberOfRed" (closeTab)="closeFaul()" (addFoul)="addFoul($event)"></app-foul>
    <i class="bi bi-arrow-counterclockwise" (click)="undoBtn()"></i>
</div>
