<div class="view-card">
    <div class="d-flex justify-content-between" *ngIf="playerNumber==1">
        <h1 class="left">{{playerName}}</h1>
        <div *ngIf="playing" class="white-circle right"></div>
    </div> 
    <div class="d-flex justify-content-between" *ngIf="playerNumber==2">
        <div *ngIf="playing" class="white-circle left"></div>
        <div *ngIf="!playing" class="left"></div> 
        <h1 class="right">{{playerName}}</h1>
    </div>
    <br/>
    <br/>
    <div class="d-flex justify-content-between">
        <h3 *ngIf="playerNumber==1" class="left">{{frames}}</h3>
        <h2 [ngClass]="{left: playerNumber==1, right: playerNumber==2}">{{points}}</h2>
        <h3 *ngIf="playerNumber==2" class="right">{{frames}}</h3>
    </div>
    <h4>Break</h4>
    <app-break></app-break>
    <button class="custom-button" (click)="giveUpBtn()">Poddaj się</button>
</div>>