<div class="view-card">
    <div class="d-flex justify-content-between">
        <div *ngIf="playerNumber==2 && playing" class="white-circle right"></div>
        <h1 [ngClass]="{left: playerNumber==2, right: playerNumber==1}">{{playerName}}</h1>
        <div *ngIf="playerNumber==1 && playing" class="white-circle left"></div>
    </div> 
    <br/>
    <br/>
    <div class="d-flex justify-content-between">
        <h3 *ngIf="playerNumber==1" class="left">{{frames}}</h3>
        <h2 [ngClass]="{left: playerNumber==1, right: playerNumber==2}">{{points}}</h2>
        <h3 *ngIf="playerNumber==2" class="right">{{frames}}</h3>
    </div>
    <h4>Break</h4>
    <app-break></app-break>
    <button class="custom-button" (click)="giveUpBtn()">Poddaj się</button>
</div>>