h1 {
    font-size: 60px;
}
h2 {
    display: inline;
    font-size: 90px;
}
h3 {
    display: inline;
    font-size: 120px;
}
h4 {
    font-size: 30px;
}
.custom-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.view-card {
    position: relative;
}
.white-circle{
    background-color: #D9D9D9;
    width: 25px;
    height: 25px;
    margin: 1%;
    position: relative;
    border-radius: 50%;
    border: 1px solid black
}